.root {
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196F3;
}

.carrier {
  text-align: right;
}

.segments {
  padding-top: 10px;
}

.carrier > img {
  margin-right: 30px;
}

.segment {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.segment > * {
  flex: 1 0 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  white-space: nowrap;
}

.route .length .stops {
  
}

.label {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #A0B0B9;
}

.info {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
}
